.center {
    text-align: center;
}

.tab5 {
    margin-left: 20px;
}

.tab10{
    margin-left: 40px;
}

.bold {
    font-weight: bold;
}

.texty {
    font-size: medium;
}

img {
    width: 100px;
}

.red {
    color: crimson;
}

.notes {
    color: blue;
}

.black {
    color: black;
}

.accordian {
    color: black;
}

card {
    height: "100vh"
  }


